{% extends 'base/base.html' %} {% load static %} {% block content %}
<ul>
  {% for product in products %}
  <li>
    <h2>{{product.name}}</h2>
    <p>{{product.descriptions}}</p>
    <p>{{product.price}}</p>
    <a href="{% url 'product_detail' id=product.id %}">Подробнее</a>
    <form action="{% url 'delete_product' id=product.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Удалить</button>
    </form>

    <img src="{{product.image.url}}" alt="" />
  </li>
  {% endfor %} 
</ul>
{% if is_paginated %}
  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page=1">Первая</a>
      <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
    {% endif %}

     {% for page_num in paginator.page_range %}
      {% if page_num == page_obj.number %}
        <strong>{{ page_num }}</strong>
      {% else %}
        <a href="?page={{ page_num }}">{{ page_num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Вперёд</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
    {% endif %}
  </div>
{% endif %}

  {{key}}

{% endblock content %}
{% comment %} {% for cat in category %}
<li>
  <h2>{{cat.name}}</h2>
  {% endfor %} {% endblock content %}
</li> {% endcomment %}

